<%- include('../../components/header.ejs') %>
    <div class="container-fluid p-0" style="background-color: black">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 style="color: white">Bienvenido a la Burger Week 2025</h1>
                <p style="color: white">
                    ¡Disfruta de las mejores hamburguesas de la ciudad!
                </p>
                <img src="/uploads/Bwlogo.png" alt="logo" class="img-fluid mx-auto d-block" />
            </div>
        </div>
        <div class="container-fluid" id="restaurante-container">
            <div class="text-center">
                <h2>Participantes este año</h2>
                <p>Este año contamos con la participación de los siguientes restaurantes:</p>
            </div>
            <div id="restaurantes-grid">
                <% restaurantes.forEach(restaurante=> { %>
                    <div class="restaurante-card">
                        <img src="<%= restaurante.logo %>" class="restaurante-card-img" alt="<%= restaurante.nombre %>">
                        <div class="restaurante-card-body">
                            <h3 class="restaurante-card-title">
                                <%= restaurante.nombre %>
                            </h3>
                            <p class="restaurante-card-desc">
                                <%= 'Descubre nuestras deliciosas hamburguesas' %>
                            </p>
                            <a href="/restaurant/<%= restaurante.id_restaurant %>"
                                class="btn restaurante-card-btn">Ver hamburguesas</a>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
        <%- include('../../components/footer.ejs') %>
    </div>
    </div>