<%- include('../../components/header.ejs') %>
    <div class="container-fluid p-0" style="background-color: black">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 style="color: white">
                    <%= restaurante.nombre %>
                </h1>
                <p style="color: white"></p>
                <img src="/<%= restaurante.logo %>" alt="logo" class="img-fluid mx-auto d-block" />
            </div>
        </div>

        <div class="container">
            <h2 style="color: white">Hamburguesas disponibles</h2>
            <div class="row">
                <% if (hamburguesas && hamburguesas.length> 0) { %>
                    <% hamburguesas.forEach(hamburguesa=> { %>
                        <div class="col-md-4 mb-4">
                            <div class="restaurante-card">
                                <img src="/<%= hamburguesa.foto %>" class="card-img-top"
                                    alt="<%= hamburguesa.nombre %>" />
                                <div class="restaurante-card-body">
                                    <h5 class="restaurante-card-title">
                                        <%= hamburguesa.nombre %>
                                    </h5>
                                    <a href="/hamburguesa/<%= hamburguesa.id_hamburguesa %>" class="btn restaurante-card-btn">Ver más</a>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                            <% } else { %>
                                <p style="color: white">No hay hamburguesas disponibles para este restaurante.</p>
                                <% } %>
            </div>
        </div>
    </div>
    <%- include('../../components/footer.ejs') %>