<div class="content-header">hamburguesass</div>
<button onclick="window.location.href='/admin/hamburguesas/crear'" class="btn btn-primary">Crear
    Hamburguesas</button>
<div id="content">
    <div class="content-body">
        <table>
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Nombre</th>
                    <th>Descripcion </th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>

            </thead>
            <tbody>

                <tr>
                    <% hamburguesas.forEach(hamburguesa=> { %>
                        <td>
                            <img src="/<%= hamburguesa.foto %>" alt="Logo" style="width: 50px; height: 50px;" />
                        </td>
                        <td>
                            <%= hamburguesa.nombre %>
                        </td>
                        <td>
                            <%= hamburguesa.descripcion %>
                        </td>
                        <td>
                            <%= hamburguesa.precio %>
                        </td>
                        <td>
                            <a href="/admin/hamburguesas/editar/<%= hamburguesa.id_hamburguesa %>"
                                class="btn btn-success">Editar</a>
                            <button id="eliminar" class="btn btn-danger">Eliminar</button>
                        </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>