<div class="content-header">hamburguesass</div>
<button onclick="window.location.href='/admin/hamburguesas/crear'" class="btn btn-primary">Crear
    Hamburguesas</button>
<div id="content">
    <div class="content-body">
        <table>
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Nombre</th>
                    <th>Descripcion </th>
                    <th>Precio</th>
                    <th>Restaurante</th>
                    <th>Acciones</th>
                </tr>

            </thead>
            <tbody>

                <tr>
                    <% hamburguesas.forEach(hamburguesa=> { %>
                        <td>
                            <img src="/<%= hamburguesa.foto %>" alt="Logo" style="width: 50px; height: 50px;" />
                        </td>
                        <td>
                            <%= hamburguesa.nombre %>
                        </td>
                        <td>
                            <%= hamburguesa.descripcion %>
                        </td>
                        <td>
                            <%= hamburguesa.precio %>
                        </td>

                        <td>
                            <% 
                                restaurante=restaurantes.find(rest=> rest.id_restaurant === hamburguesa.restaurante_id);
                                %>
                                <%= restaurante ? restaurante.nombre : 'Restaurante no encontrado' %>
                        </td>

                        <td>
                            <a href="/admin/hamburguesas/editar/<%= hamburguesa.id_hamburguesa %>"
                                class="btn btn-success">Editar</a>

                            <form action="/admin/hamburguesas/eliminar/<%= hamburguesa.id_hamburguesa %>" method="POST"
                                onsubmit="return confirm('¿Está seguro de que desea eliminar la hamburguesa ?');">
                                <button id="eliminar" class="btn btn-danger">Eliminar</button>
                        </td>
                        </form>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>